name: Type generation

on:
  push:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 16
      # - name: Generate GSit Chat types
      #   run: |
      #    java -jar java-ts-bind-all.jar --packageJson bungeecord-chat/package.json
      - name: Generate LuckPerms types
        run: |
          java -jar java-ts-bind-all.jar --packageJson worldedit/package.json
      - uses: actions/setup-node@master
        with:
          registry-url: 'https://registry.npmjs.org'
        if: github.ref == 'refs/heads/master'
      - name: Publish to npm
        run: |
          sed -i "s/GIT_SHA/$(git rev-parse --short $GITHUB_SHA)/g" */package.json || true # Fails for .github otherwise
          npm publish --access=public gsit
          npm publish --access=public luckperms
        if: github.ref == 'refs/heads/master'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}